<h2>Secrets</h2>
<% @secrets.each do |secret| %>
    <p>
        <%= secret.content %>
        <% if current_user == secret.user %>
            <form action="/secrets/<%= secret.id %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Delete" />
            </form>
        <% end %>
    </p>
    <p>
        <%= secret.likes.count %> like(s)
        <% if secret.likes.where(user:current_user).empty? %>
            <form action="/likes/<%= secret.id %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="submit" value="Like" />
            </form>
        <% else %>
            <form action="/likes/<%= secret.id %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Unlike" />
            </form>
        <% end %>
    </p>
<% end %>
